<div class="landing-page">
  <p-card header="Informacion sobre el sitio" subheader="" class="card" styleClass="p-card-shadow">
    <h3>¿Que es Interaction App?</h3>
    <p>
      Interaction App es una plataforma web en la que puedes crear presentaciones interactivas, en las cuales los
      participantes pueden interactuar con el contenido de la presentación, y el presentador puede ver en tiempo real
      las respuestas de los participantes.
    </p>

    <h3>¿Como funciona?</h3>

    <p>
     ..
    </p>

    <h3>¿Como surgio?</h3>
    <p>
    ..
    </p>

    <div class="buttons mt-4">
      <a pButton label="Home" class="p-button-primary" routerLink="" icon="pi pi-home"></a>
      <a
        pButton
        label="Repo"
        class="p-button-primary"
        target="_blank"
        href="https://github.com/attrix182/interaction-app"
        icon="pi pi-github"
      ></a>
      <a
        pButton
        label="Sobre mi"
        class="p-button-primary"
        target="_blank"
        href="https://sinisterraluciano.com.ar"
        icon="pi pi-user"
      ></a>
    </div>
  </p-card>
</div>
