<p-toast position="top-center" class="p-toast"></p-toast>

<div class="section">
  <aside class="left-icon">
    <button
      (click)="changeName()"
      pTooltip="Cambia tu nombre"
      pButton
      pRipple
      type="button"
      icon="pi pi-user"
      class="p-button-primary p-button-rounded p-button-outlined"
    ></button>
  </aside>

  <section>
    <div *ngIf="!loading">
      <div *ngIf="eventData[actualPage].type === 'images'">
        <app-question-images
          #questionImages
          [question]="eventData[actualPage].question"
          [options]="eventData[actualPage].options"
          [eventID]="event.id"
          [page]="actualPage"
          [user]="userName"
          [votes]="votes"
        ></app-question-images>
      </div>

        <div *ngIf="eventData[actualPage].type === 'input'">
          <app-question-input
            #questionInput
            [question]="eventData[actualPage].question"
            [options]="eventData[actualPage].options"
            [eventID]="event.id"
            [page]="actualPage"
            [user]="userName"
            [votes]="votes"
          ></app-question-input>
        </div>
     
      <section class="controls" *ngIf="userName === 'admin'">
        <button
          (click)="previousPage()"
          pButton
          pRipple
          type="button"
          icon="pi pi-arrow-left"
          class="p-button-rounded"
          [disabled]="actualPage == 0"
        ></button>
        <button
          (click)="nextPage()"
          pButton
          pRipple
          type="button"
          icon="pi pi-arrow-right"
          class="p-button-rounded"
          [disabled]="actualPage === eventData.length - 1"
        ></button>
      </section>
    </div>
  </section>

  <p-toast position="top-center" class="p-toast"></p-toast>
</div>
