<p-toast position="top-center" class="p-toast"></p-toast>

<div class="section">
  <aside class="left-icon">
    <button
      (click)="changeName()"
      pTooltip="Cambia tu nombre"
      pButton
      pRipple
      type="button"
      icon="pi pi-user"
      class="p-button-primary p-button-rounded p-button-outlined"
    ></button>
  </aside>


  <section>
    <div *ngIf="!loading">

      <div *ngIf="eventData[actualPage].type === 'images' ">
        <app-question-images
          [question]="eventData[actualPage].question"
          [options]="eventData[actualPage].options"
        ></app-question-images>
      </div>
    
    </div>
  </section>



<p-toast position="top-center" class="p-toast"></p-toast>
