<section>
  <div>
    <h1 class="title text-center">{{ question }}</h1>
    <h5 class="subtitle text-center">Escribe un nombre mejor!</h5>
    <div class="question-container">
      <article>

        <div class="question-option" [style]="'background-image: url(' + options[0].url + ')'"></div>
      </article>

      <article>
        <div class="form-vscode" >
          <form >
            <div>
              <div class="number-line">
                <p>1</p>
                <p>2</p>
              </div>
              <div class="input-box">
                <input
                pTooltip="Escribe tu respuesta y pulsa Enter"
                  #answerInput
                  (keydown.enter)="publishAnswer()"
                  pInputText
                  id="answer"
                  [(ngModel)]="answer"
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
            </div>
          </form>
        </div>

        <section class="votes" *ngIf="votes.length != 0">
          <div *ngFor="let answer of votes">
            <article class="item-vote">
              <p-avatar
                [label]="answer.user[0]"
                [style]="{ 'background-color': answer.color, color: 'white' }"
                [size]="'small'"
                [shape]="'circle'"
              
              ></p-avatar>
              <div>{{ answer.answer }}</div>
            </article>
          </div>
        </section>
      </article>
    </div>
  </div>
</section>
